<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <level>log.level</level>
                <logger>log.logger</logger>
                <thread>process.thread.name</thread>
                <stackTrace>error.stack_trace</stackTrace>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
            <mdcKeyFieldName>traceId=trace_id</mdcKeyFieldName>
            <mdcKeyFieldName>spanId=span_id</mdcKeyFieldName>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>